header {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    background-color: black;
}

.wrapper {
    margin: 0 auto;
    top: 0;
}

.wrapper h1 {
    float: left;
    position: absolute;
    background: #4aaaa5;
    color: #fff;
    margin: 0 auto;
    padding: 14px 25px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-top: 20px;
    margin-left: 5px;
    font-size: 18px;

}

nav li a {
    text-decoration: none;
    color: #777;
}

section {
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 25px;
    line-height: 30px;
}

input {
    padding: 8px;
}

