header {
    position: relative;
    padding-bottom: 65px;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    top: 0;
}

.wrapper h1 {
    float: left;
    position: absolute;
    background: #4aaaa5;
    color: #fff;
    margin: 0 auto;
    padding: 14px 25px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-top: 20px;
    margin-left: 5px;
    font-size: 18px;

}

nav li a {
    text-decoration: none;
    color: #777;
}

section {
    width: 960px;
    margin: 0  auto;
    background-color: #fff;
}

footer {
    background-color: #777;
    border-top: 30px;
    
}

footer p {
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-bottom {
    border-top: 5px solid #4aaaa5;
    padding: 25px;
}

.bottom-wrap {
    border-bottom: 0%;
    width: 100%;

}

.box-container {
   position: relative;
   text-align: center;
}
