header {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    background-color: black;
}

section {
    margin: 0  auto;
    background-color: #fff;
}

footer {
    background-color: #777;
    border-top: 30px;
    
}

footer p {
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-bottom {
    border-top: 5px solid #4aaaa5;
    padding: 25px;
}

.bottom-wrap {
    border-bottom: 0%;
    width: 100%;

}

.box-container {
   position: relative;
   text-align: center;
}
