header {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    background-color: black;
}

section {
    margin: 0  auto;
    background-color: #fff;
    min-height: calc(100vh - 70px);

}

h1 {
    color: #56a19e;
    border-bottom: 1px solid #777;
    padding-left: 30px;
    font-family: 'Lora', serif;

}

a {
    font-family: 'Lora', serif;
    padding-left: 10vh;
}

p {    
    font-family: 'Lora', serif;
 }

.footer {
    height: 10vh;
    background-color: #777;
    width: 100%;
}

.footer p {
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*
.page-bottom {
    border-top: 5px solid #4aaaa5;
    padding: 25px;
}

.bottom-wrap {
    border-bottom: 0%;
    width: 100%;

}
*/

