header {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    background-color: black;
}

section {
    margin: 0  auto;
    background-color: #fff;
    padding-bottom: 25px;
    line-height: 30px;
}

section p {
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    color: #56a19e;
    border-bottom: 1px solid #777;
    padding-left: 30px;
}

.main-container {
    position: relative;
    background-color: #fff;
}

.main-container::after {
    content: " ";
    clear: both;
    display: table;

}

img {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

p {
    font-size: 20px;
    color: #777;
}

footer {
    background-color: #777;
    border-top: 30px;
    
}

footer p {
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-bottom {
    border-top: 5px solid #4aaaa5;
    padding: 25px;
}

.bottom-wrap {
    border-bottom: 0%;
    width: 100%;

}